<h1>DBZ</h1>

<hr>
<div class="row">
    <div class="col">
        <h3>Personaje</h3>
        <!-- <hr/>
        <ul *ngFor="let persona of personajes">
            
            <li>{{persona.name}} - {{persona.poder | number  }}</li>
        </ul> -->
        <!-- <app-personajes [personajes]="personajes"></app-personajes> -->
        <app-personajes ></app-personajes>
    </div>
    <div class="col">
        <!-- <app-agregar (onNuevoPersonaje) = "agregarNuevoPeronaje($event)"></app-agregar> -->
        <app-agregar ></app-agregar>
    </div>
</div>

 <!-- [value]="nuevo.name" --> <!-- [value] = "nuevo.poder" -->   
 <!-- (input) ="cambiarNombre($event)"  cambioNombre(event:any){ console.log(event.target.value)}-->
