<h3>Agregar</h3>
        <hr/>
        <!-- ngSubmit = submit -->
        <form (ngSubmit)="agregar()">
            <input
            type="text"
            name="name"
            
            [(ngModel)]="nuevo.name" 
            
            placeholder="Nombre"
             >
            <input 
            type="number"
            name="poder"
            [(ngModel)]="nuevo.poder"
           
            placeholder="Poder"
            >
            <button type="submit">agregar</button>
        </form>